@model LMS.DATA.EF.Cours
@using LMS.DATA.EF;
@using Microsoft.AspNet.Identity
@{
    FSDPLMSEntities db = new FSDPLMSEntities();
    ViewBag.Title = "Details";
    string currentUserID = User.Identity.GetUserId();
    var lessons = db.Lessons.Where(x => x.CourseID == Model.CourseID);


}


<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">@Html.DisplayFor(model => model.CourseName)</h2>
        <h3 class="h6 no-margin-bottom">@Html.DisplayFor(model => model.CourseDescription)</h3>
    </div>
</div>
<div>
    <section class="no-padding-bottom">




        @foreach (var item in lessons)
        {
            LessonView lessonView = db.LessonViews.Where(x => x.UserID == currentUserID && x.LessonID == item.LessonId).FirstOrDefault();

            <div class="public-user-block block">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4 d-flex align-items-center">

                        <a href="#" class="name"><strong class="d-block">@item.LessonTitle</strong><span class="d-block"> @item.Introduction</span></a>
                    </div>
                    <div class="col-lg-4 text-center">

                        @if (lessonView != null)
                        {
                            <text>Date Completed:</text>
                            @lessonView.DateViewed.ToShortDateString()
                        }

                    </div>
                    <div class="col-lg-4">
                        <div class="details d-flex">
                            <a href="@Url.Action("Details","Lessons",new { id = item.LessonId })">Take Lesson</a>
                        </div>
                    </div>
                </div>
            </div>

        }


    </section>










</div>

